body {
  padding: 10px;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #F0A029,#ffee00 100%);
  background-attachment: fixed;
}

.burgerMenu {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
}

.home {
  float: right;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
}

.SpQRt {
  text-align: center;
}

.btn-group button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
}

.bienvenu {
  text-align: center;
}

.recherche {
  text-align: center;
}

.new-recherche {
  text-align: center;
}

.petitTexte {
  font-size: 0.8em;
  color: grey;
}