body {
  padding: 10px;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #F0A029,#ffee00 100%);
  background-attachment: fixed;
}

.burgerMenu {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
}

.btn-entrain {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
}

.home {
  float: right;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
}

.SpQRt {
  text-align: center;
}

.btn-group button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
}

.contenu {
  text-align: center;
}

.recherche {
  text-align: center;
}

.new-recherche {
  text-align: center;
}

.petitTexte {
  font-size: 0.8em;
  color: grey;
}

.connect-btn {
  background-color: #F0A029;
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
}

.boutonEntrainements {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.site {
  font-size: 0.5em;
  color:blue;
}

.pAlert {
  color: red;
  font-size: 14px;
}