body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #F0A029;
  background-image: linear-gradient(to bottom, #F0A029,#ffee00 100%);
  background-attachment: fixed;
}

.btn-group button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.accueil {
  text-align: center;
}